body{
    margin:0;
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url(assets/main-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    // background-color: rgb(82, 82, 82);
    background-blend-mode: multiply;
    background-position: center center;
}
.app-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
}
.navigation{
display: flex;
    &__back-btn{
        border: none;
        background: none;
        display: none;
}
}
.welcome-screen{
    &__start-button{
        padding: 25 45px;
        border-radius: 40px;    
    }
}
.difficulty-screen{
    display: none;
    flex-direction: column;
    &__select-button{
        padding: 10px;
        margin: 10px 0;
    }
}

.quiz{
    display: none;
    flex-direction: column;
    text-align: center;
    &__button{
        border: 0;
        margin: 5px 0;
        padding: 5px 10px;
    }
}

#scoreScreen
{   
    display: none;
    position: absolute;
    background: white;
    padding: 35px;
    text-align: center;
    border-radius: 15px;
}
#scoreScreen__back{
    background: #FFAD19;
    padding: 12 20px;
}
button{
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    background: #fff;
    transition: all 0.5s;
    &:focus{
    outline: none;
    }
    &:active{
        background: rgb(231, 158, 23);
    }
    &:hover{
        background: #FFAD19;
    }
}